<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @link.slug %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @link.counter %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user_id %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
